<template name="CirclesIndex">

	<div class="circle-cover">
		<div class="circle-title">
			<h1>{{title}}</h1>
			<p>{{description}}</p>
		</div>	
	</div>
	<div class="circle-options">
		<span class="circle-options-new">
			<p>New</p>
		</span>
		<div class="circle-options-post">
			<i class="fa fa-plus fa-3x"></i>
		</div>
		<span class="circle-options-hot">
			<p>Hot</p>
		</span>
	</div>
	<div class="circle-posts">
		<div class="circle-post">
			<div class="circle-post-vote">
				up/down
			</div>
			<div class="circle-post-content">
				<p>This is a test post</p>
			</div>
			<div class="circle-post-comments">
				3 comments
			</div>
		</div>
	</div>

</template>
