<template name="CirclesIndex">
	{{#if currentUser}}
		<div class="circle-cover">
			<div class="circle-title">
				<h1>{{title}}</h1>
				<p>{{description}}</p>
			</div>	
		</div>
		<div class="circle-options">
			<span class="circle-options-new">
				<a class="waves-effect waves-button" href="#">New</a>
			</span>
			<div class="circle-options-post">
				<i class="fa fa-plus fa-3x"></i>
			</div>
			<span class="circle-options-hot">
				<a class="waves-effect waves-button" href="#">Hot</a>
			</span>
		</div>
		<div id="theForm" class="circle-post-field hidden">
			<div class="circle-post-field-content">
				{{#autoForm collection="Posts" id="createPost" type="insert"}}
					{{> afQuickField name="message" rows=3}}
					<button type="submit" class="btn btn-primary btn-large">Post</button>
				{{/autoForm}}
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="circle-posts">
			{{> CirclesPosts}}
		</div>
	{{else}}
	
	{{/if}}
</template>