/*****************************************************************************/
/* CirclesIndex: Style */
/*****************************************************************************/

.circle-cover {
	background-color: #3498db;
	width: 100%;
	border-top: 10px solid #2980b9;
}

.circle-title {
	width: 100%;
	text-align: center;
	color: #fff;
	height: 200px;
	padding: 40px;
}

	.circle-title h1 {
		margin: 0;
	}

.circle-options {
	background-color: #666;
	width: 100%;
	height: 60px;
}

	.circle-options span {
		display: inline;
	}

.circle-options-new {
	width: 50%;
	text-align: center;
	float: left;
	padding-top: 20px
}

.circle-options-hot {
	width: 50%;
	text-align: center;
	float: left;
	padding-top: 20px;
}

.circle-options-post {
	border-radius: 50%;
	background-color: #2ecc71;
	width: 80px;
	height: 80px;
	margin-left: 46%;
	position: absolute;
}

	.circle-options-post i {
		margin: 22px 0 0 22px;
	}

.circle-post {
	margin: 20px 20px 0 20px;
}