/*****************************************************************************/
/* CirclesMap: Style */
/*****************************************************************************/
#map-canvas {
	/*position: absolute;
	top: 0;
	left: 0;
	z-index: 0 !important;*/
	height:100%;
	width:100%;
}