<template name="MasterLayout">
	<nav>
		<div id="menu">
			<i class="fa fa-bars fa-4x"></i>
		</div>
		{{#if currentUser}}
			<div class="menu {{navflag}}">
				<ul>
					<li><a href="#">X</a></li>
					<li><a href="{{pathFor 'create.circle'}}">Create</a></li>
					<li><a href="{{pathFor 'circles.index'}}">Circle</a></li>
					<li><a href="{{pathFor 'circles.map'}}">Map</a></li>
					<li><a href="{{pathFor 'profile'}}">Profile</a></li>
					<li>{{> loginButtons}}</li>
				</ul>
			</div>

		{{else}}
			<div class="container">
				{{>loginButtons}}
			</div>
		{{/if}}
	</nav>
	<article>
		{{> yield}}
	</article>
</template>
