/*****************************************************************************/
/* MasterLayout: Style */
/*****************************************************************************/

.menu {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
	position: fixed;
	z-index: 2;
	padding: 10px;
}
.menu ul {
	padding: 0;
	margin: 0;
}
.menu li {
	font-size: 4em;
	list-style-type: none;
}
.menu a {
	color: #fff;
}	
.menu-hidden {
	display: none;
}
nav {
	/*height: 10%;*/
}
article {
	left: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
	padding: 20px;
}
article #menu {
	height: 15%;
}
article #content {
	height: 85%;
}