<template name="MasterLayout">
	<nav>
		{{#if currentUser}}
			<div class="menu {{navflag}}">
				<a href="#" class="pull-left">
					<i class="fa fa-times fa-4x"></i>
				</a>
				<a href="{{pathFor 'create.circle'}}" class="pull-right">
					<i class="fa fa-plus-circle fa-4x"></i>
				</a>
				<div class="clearfix"></div>
				<ul>
					<li><a href="{{pathFor 'create.circle'}}">Create</a></li>
					<li><a href="{{pathFor 'circles.index'}}">Circle</a></li>
					<li><a href="{{pathFor 'circles.map'}}">Map</a></li>
					<li><a href="{{pathFor 'profile'}}">Profile</a></li>
					<li id="logout"><a href="/">Logout</a></li>
				</ul>
			</div>

		{{else}}
			<div class="container">

			</div>
		{{/if}}
	</nav>
	<article>
		<div id="menu">
			<i class="fa fa-bars fa-4x"></i>
		</div>
		<div id="content">
			{{> yield}}
		</div>
	</article>
</template>
