<template name="CirclesPosts">
	{{#each posts}}
		<div class="circle-post row">
			<div class="circle-post-wrapper">
				<div class="circle-post-vote">
					<i class="fa fa-chevron-up fa-2x"></i> <br>
					<div class="vote">{{vote}}</div>
					<i class="fa fa-chevron-down fa-2x"></i> <br>
				</div>
				<div class="circle-post-content">
					<p>{{message}}</p>
				</div>
				<div class="circle-post-comments">
					<p>{{numComments}} comments</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	{{/each}}
</template>
