/*****************************************************************************/
/* PostReplies: Style */
/*****************************************************************************/
.a-reply {
	background-color: #BE90D4;
	margin-bottom: 16px;
	padding: 8px;
	margin: 16px;
}